.container {
  min-height: 100vh;
  padding: 30px;
  max-width: 1200px;
}

.search-container {
  margin-bottom: 80px;
}

.search-container h1 {
  margin-top: 10px;
}

.search-container.searching {
  margin-bottom: 42px;
}

.buttons-container {
  margin-top: 40px;
  height: 45px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.buttons-container span {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
